@{
    ViewData["Title"] = "Chat";
    @model List<Winter_Project.Models.ChatMessageModel>

    var token = Context.Request.Cookies["token"];
    var username = string.IsNullOrEmpty(token) ? "" : JwtHelper.DecodeJwt(token);
}

<div class="chat-container">
    <div class="message-container" id="message-container">
        @foreach (var message in Model)
        {
            @if (message.Username == username){
                <div class="chat-bubble self">
                    <span class="chat-bb-message self">
                        @message.Message
                    </span>
                    <span class="chat-bb-date-time self">@message.Timestamp</span>
                </div>
            }
            else {
                <div class="chat-bubble">
                    <div class="chat-bb-profile">
                        <img src="../../assets/profile-g.png">
                    </div>
                    <strong class="chat-bb-name">@message.Username</strong>
                    <span class="chat-bb-message">
                        @message.Message
                    </span>
                    <span class="chat-bb-date-time">@message.Timestamp</span>
                </div>
            }
        }
    </div>
    <form class="message-form">
        <input class="round" type="text" placeholder="" id="message-input">
        <button class="btn medium round bb-w hover-lb-w-glow send-button" type="button" id="send-button">
            send<svg-send></svg-send>
        </button>
    </form>
</div>

<script>
    let socket;
    const message_container = document.getElementById('message-container');
    const message_input = document.getElementById('message-input');
    const send_button = document.getElementById('send-button');
    const username = `@username`;

    function initWebSocket() {
        const urlParams = new URLSearchParams(window.location.search);
        const activity_id = urlParams.get('activity_id');
        socket = new WebSocket(`ws://localhost:5115/chat/connect?activity_id=${activity_id}`);
        
        socket.onmessage = function (event) {
            console.log("Message received: ", event.data);
            const message = JSON.parse(event.data);
            const chat_bubble = create_chat_bubble(message, username);
            message_container.innerHTML += chat_bubble;
            message_container.scrollTop = message_container.scrollHeight;
        };

        socket.onopen = function () {
            console.log('WebSocket connection established');
        };

        socket.onclose = function () {
            console.log('WebSocket connection closed');
        };

        socket.onerror = function (error) {
            console.error('WebSocket Error:', error);
        };
    }

    function create_chat_bubble(message, username) {
        
        const timestamp = `<span class="chat-bb-date-time">${message.Timestamp}</span>`;

        if (message.Username === username) {
            console.log(message.Username);
            return `
                <div class="chat-bubble self">
                    <span class="chat-bb-message self">${message.Message}</span>
                    ${timestamp}
                </div>
            `;
        } else {
            return `
                <div class="chat-bubble">
                    <div class="chat-bb-profile">
                        <img src="../../assets/profile-g.png">
                    </div>
                    <strong class="chat-bb-name">${message.Username}</strong>
                    <span class="chat-bb-message">${message.Message}</span>
                    ${timestamp}
                </div>
            `;
        }
    }

    send_button.addEventListener('click', function (event) {
        event.preventDefault();
        const message = message_input.value;
        if (message && socket.readyState === WebSocket.OPEN) {
            socket.send(message);
            message_input.value = '';
        }
        return false;
    });

    document.addEventListener('DOMContentLoaded', function () {
        message_container.scrollTop = message_container.scrollHeight;
    });

    window.onload = initWebSocket;
</script>

@* chat?activity_id=1:509 WebSocket connection established
chat?activity_id=1:502 Message received:  {"Username":"jueeeeeen","Message":"test3","Timestamp":"2025-02-27T18:52:42.2634377Z"} 

{Username: 'jueeeeeen', Message: 'test4', Timestamp: '2025-02-27T18:54:23.6994847Z'}*@