@using Winter_Project.ViewModels

@{
    var notifications = (List<NotificationViewModel>)ViewData["Notifications"];
}

<nav class="gradient_blue shadow nav_bar_container">
    <ul class="no_select nav_bar">
        <li><a href="/" class="flex flex_center nav-home"><img src="/assets/home.svg" alt="home"></a></li>
        <li><a href="/Activity" class="nav-activity">Activity</a></li>
        <li><a href="/Ranking" class="nav-activity">Ranking</a></li>
        <li class="logo">
            <a href="/" class="flex"><img src="/assets/winter_logo-w.svg" alt="Winter Logo" /></a>
        </li>
        <li class="m_left_auto">
            <a class="btn medium w-mb round hover-db-w" id="create-button" href="/Create">
                <svg-plus></svg-plus>create
            </a>
        </li>
        <li>
            <div class="bell-button  pseudo-btn">
                <input type="checkbox" id="bell-button-check">
                <label class="btn round w-y hover-y-w circle" for="bell-button-check" id="bell-button"><svg-bell></svg-bell></label>
                <div class="noti-dropdown-container shadow" id="noti_dropdown">
                    <span class="noti-header">Notifications</span>
                    <hr>
                    <ul>
                        @foreach (var notification in notifications)
                        {
                            @if (notification.Notification_type == "pending")
                            {
                                <pending-noti 
                                    activity-id="@notification.Activity_id" 
                                    activity-title="@notification.ActivityTitle" 
                                    name="@notification.ActivityUserFirstName @notification.ActivityUserLastName" 
                                    time="@notification.Notification_time.ToLocalTime().ToString("dd MMM yyyy HH:mm")">
                                </pending-noti>
                            }
                            else if (notification.Notification_type == "approved")
                            {
                                <approved-noti
                                    activity-id="@notification.Activity_id" 
                                    activity-title="@notification.ActivityTitle" 
                                    time="@notification.Notification_time.ToLocalTime().ToString("dd MMM yyyy HH:mm")">
                                </approved-noti>
                            }
                            else if (notification.Notification_type == "denied")
                            {
                                <denied-noti
                                    activity-id="@notification.Activity_id" 
                                    activity-title="@notification.ActivityTitle" 
                                    time="@notification.Notification_time.ToLocalTime().ToString("dd MMM yyyy HH:mm")">
                                </denied-noti>
                            }
                            else if (notification.Notification_type == "kick")
                            {
                                <kick-noti
                                    activity-id="@notification.Activity_id" 
                                    activity-title="@notification.ActivityTitle" 
                                    time="@notification.Notification_time.ToLocalTime().ToString("dd MMM yyyy HH:mm")">
                                </kick-noti>
                            }
                            else if (notification.Notification_type == "join")
                            {
                                <joined-noti 
                                    activity-id="@notification.Activity_id" 
                                    activity-title="@notification.ActivityTitle" 
                                    name="@notification.ActivityUserFirstName @notification.ActivityUserLastName" 
                                    time="@notification.Notification_time.ToLocalTime().ToString("dd MMM yyyy HH:mm")">
                                </joined-noti>
                            }
                            else if (notification.Notification_type == "leave")
                            {
                                <leave-noti 
                                    activity-id="@notification.Activity_id" 
                                    activity-title="@notification.ActivityTitle" 
                                    name="@notification.ActivityUserFirstName @notification.ActivityUserLastName" 
                                    time="@notification.Notification_time.ToLocalTime().ToString("dd MMM yyyy HH:mm")">
                                </leave-noti>
                            }
                        }
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="profile-button circle pseudo-btn">
                <input type="checkbox" id="profile-button-check">
                <label class="btn round w-mb hover-b-w" for="profile-button-check" id="profile-button"><img src="/assets/Profile-w-b.png" alt="profile"></label>
                <div class="profile-dropdown w-mb-mb edge" id="profile_dropdown">
                        <div class="profile-dropdown-info">
                            <div class="profile-container-dropdown">
                                <img id="profile_pic_dropdown" src="@(string.IsNullOrEmpty(Model.ProfilePictureBase64) ? Url.Content("~/assets/Profile-w-b.png") : Model.ProfilePictureBase64)" width="40px" class="profile-picture-dropdown">
                            </div>
                            
                            <span class="first-name-dropdown">@Model.FirstName</span>
                            <span class="last-name-dropdown">@Model.LastName</span>
                            <span class="username_dropdown">@Model.Username</span>
                        </div>
                        
                        <ul>
                            <li><a class="profile-dropdown-nav" href="/Profile"><img src="/assets/person.svg">My Profile</a></li>
                            <hr class="blue_line_dash">
                            <li><a class="profile-dropdown-nav" href="/MyActivity"><img src="/assets/activity.svg">My Activity</a></li>
                            <hr class="blue_line_dash">
                            <li><a class="profile-dropdown-nav" href="/Profile/Review"><img src="/assets/star_outline.svg">My Ratings</a></li>
                            <hr class="blue_line_dash">
                            <li class="profile-dropdown-nav"><a href="/Friend"><img src="/assets/star_outline.svg">My Friend</a></li>
                            <hr class="blue_line_dash">
                        </ul>
                    
                    <form method="post" asp-controller="Account" asp-action="Logout" id="logout-form">
                        <button class="btn small w-r-r hover-r-w edge" id="logout-button">
                            <svg-logout></svg-logout>log out
                        </button>
                    </form>
                </div>
            </div>
        </li>
        <li class="pseudo-btn">
            <input type="checkbox" id="hamburger-check">
            <label class="hamburger" for="hamburger-check">
                <svg-hamburger></svg-hamburger>
                <svg-x></svg-x>
            </label>
            <ul class="hamburger-dropdown">
                <li><a href="/"><svg-home></svg-home> Home</a></li>
                <li><a href="/Activity"><svg-tile></svg-tile> View Activity</a></li>
                <li><a href='/Create'><svg-plus></svg-plus> Create Activity</a></li>
            </ul>
        </li>
    </ul>
</nav>

<script>
    function change_icon(element, icon_hover, icon_default) {
        element.onmouseover = () => {
            element.firstElementChild.src = "/assets/" + icon_hover;
        }

        element.onmouseleave = () => {
            element.firstElementChild.src = "/assets/" + icon_default;
        }
    }

    const profile_button = document.querySelector("#profile-button-check");
    const profile_pic_nav = document.querySelector("#profile-button");
    const bell_button = document.querySelector("#bell-button-check");
    const logout_button = document.querySelector("#logout_button");

    profile_button.addEventListener("change", toggle_profile_dropdown);
    bell_button.addEventListener("change", toggle_noti_dropdown);

    change_icon(profile_pic_nav, "Profile-b.png", "Profile-w-b.png");

    function toggleDropdown(other_check) {
        if (other_check.checked) {
            other_check.checked = false;
        }
    }

    function toggle_profile_dropdown() {
        toggleDropdown(bell_button);
    }

    function toggle_noti_dropdown() {
        toggleDropdown(profile_button);
    }
</script>
