@model Winter_Project.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Edit Profile";
}

<form asp-action="Edit" asp-controller="Profile" method="post" enctype="multipart/form-data">
    <div class="profile-container">
        <div class="profile-card">
            <div class="profile-header">
                <p>Profile</p>
            </div>

            <div class="account-info">
                <div class="upload-profile-picture">
                    <img src="\assets\Profile-w-b.png" alt="profile picture" class="profile-picture">
                    <button type="button" class="upload-profile-button">
                        <label for="input-file">Upload Photo</label>
                        <input type="file" accept="image/jpg, image/png, image/jpeg" id="input-file">
                    </button>
                </div>

                <h6>@Model.Username</h6>
                <h4>@Model.FirstName @Model.LastName</h4>
                <h6>@(DateTime.Now.Year - Model.DateOfBirth.Year) years old</h6>
            </div>

            <fieldset class="profile-details">
                <div>
                    <img src="\assets\location_on.svg" alt="location">
                    <input type="text" name="Location" value="@(string.IsNullOrEmpty(Model.Location) ? "No information" : Model.Location)">
                </div>
                <div>
                    <img src="\assets\phone.svg" alt="phone">
                    <input type="text" name="Phone" value="@(string.IsNullOrEmpty(Model.Phone) ? "No information" : Model.Phone)">
                </div>
                <div>
                    <img src="\assets\mail.svg" alt="mail">
                    <input type="text" name="Email" value="@Model.Email">
                </div>
            </fieldset>
        </div>

        <div class="profile-right-container">
            <div class="bio-card">
                <div class="profile-header">
                    <p>Bio</p>
                </div>

                <fieldset class="edit-bio">
                    <div class="bio-input">
                        <label for="about-me">About me</label>
                        <textarea name="AboutMe">@(string.IsNullOrEmpty(Model.AboutMe) ? "No information" : Model.AboutMe)</textarea>
                    </div>
                    <div class="bio-input">
                        <label for="MyInterests">My Interests</label>
                        <textarea name="MyInterests">@(string.IsNullOrEmpty(Model.MyInterests) ? "No information" : Model.MyInterests)</textarea>
                    </div>
                    <div class="bio-input">
                        <label for="MyHobby">My Hobby</label>
                        <textarea name="MyHobby">@(string.IsNullOrEmpty(Model.MyHobby) ? "No information" : Model.MyHobby)</textarea>
                    </div>
                </fieldset>
            </div>

            <div class="personal-card">
                <div class="profile-header">
                    <p>Personal Information</p>
                </div>

                <fieldset class="user-fullname">
                    <div class="profile-input">
                        <label for="FirstName">First Name</label>
                        <input type="text" name="FirstName" value="@Model.FirstName">
                    </div>
                    <div class="profile-input">
                        <label for="LastName">Last Name</label>
                        <input type="text" name="LastName" value="@Model.LastName">
                    </div>
                </fieldset>

                <fieldset class="user-fullname">
                    <div class="profile-input">
                        <label for="DateOfBirth">Birth</label>
                        <input type="date" name="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")">
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="save-cancel-button">
            <button type="submit" class="save-button">
                <p>Save</p>
            </button>
            <button type="button" class="cancel-button" onClick="location.href='@Url.Action("Index", "Profile")'">
                <p>Cancel</p>
            </button>
        </div>
    </div>
</form>
