@{
    ViewData["Title"] = "Profile";
}

<div class="profile-container">
    <div class="profile-card">
        <div class="profile-header">
            <p>Profile</p>
        </div>
        
        <div class="account-info">
            <img src="@(string.IsNullOrEmpty(Model.ProfilePictureBase64) ? Url.Content("~/assets/Profile-w-b.png") : Model.ProfilePictureBase64)" alt="profile picture" class="profile-picture">
            <p class="username">@("@"+Model.Username)</p>
            <p class="full-name">@Model.FirstName @Model.LastName</p>
            <p class="age">@(DateTime.Now.Year - Model.DateOfBirth.Year) years old</p>
        </div>

        <div class="profile-details">
            <div>
                <img src="\assets\location_b.svg" alt="location">
                <p>@(string.IsNullOrEmpty(Model.Location) ? "No information" : Model.Location)</p>
            </div>
            <div>
                <img src="\assets\phone.svg" alt="phone"> 
                <p>@(string.IsNullOrEmpty(Model.Phone) ? "No information" : Model.Phone)</p>
            </div>
            <div>
                <img src="\assets\mail.svg" alt="mail">
                <p>@Model.Email</p>
            </div>
        </div>

        <div class="profile-rating">
            <img src="\assets\icon _star.svg" alt="star icon">
            <p>1.55</p>
        </div>

        <div class="joined-review">
            <div class="profile-joined">
                <p>4</p>
                <p>Joined</p>
                <a href="#">View all activity</a>
            </div>

            <div class="profile-reviews">
                <p>5</p>
                <p>Reviews</p>
                <a href="Profile/Review">View all review</a>
            </div>
        </div>
    </div>

    <div class="profile-right-container">
        <div class="bio-card">
            <div class="profile-header">
                <p>Bio</p>
            </div>

            <div class="bio-details">
                <p class="bio-header">About me</p>
                <p class="bio-info">@(string.IsNullOrEmpty(Model.AboutMe) ? "No information" : Model.AboutMe)</p>
                <p class="bio-header">My Interests</p>
                <p class="bio-info">@(string.IsNullOrEmpty(Model.MyInterests) ? "No information" : Model.MyInterests)</p>
                <p class="bio-header">My Hobby</p>
                <p class="bio-info">@(string.IsNullOrEmpty(Model.MyHobby) ? "No information" : Model.MyHobby)</p>
            </div>
        </div>

        <div class="personal-card">
            <div class="profile-header">
                <p>Personal Information</p>
            </div>

            <div class="personal-details">
                <div class="top-info">
                    <div class="details-info">
                        <span class="personal-header">First Name</span>
                        <span class="personal-info">@Model.FirstName</span>
                    </div>
                    <div class="details-info">
                        <span class="personal-header">Last Name</span>
                        <span class="personal-info">@Model.LastName</span>
                    </div>
                </div>
                <div class="bottom-info">
                    <div class="details-info">
                        <span class="personal-header">Birth</span>
                        <span class="personal-info">@Model.DateOfBirth</span>
                    </div>
                    <div class="details-info">
                        <span class="personal-header">Gender</span>
                        <span class="personal-info">Male</span>
                    </div>

                </div>

                <div class="edit-profile-button">
                    <button onClick="location.href='@Url.Action("Edit", "Profile")'"> 
                    <img src="\assets\edit.svg" alt="edit icon" class="edit-profile-img">
                    <p>Edit</p>
                    </button>
                </div>
            </div>
        </div>  
    </div>
</div>