@{
    ViewData["Title"] = "Profile";
}

<div class="profile-container">
    <div class="profile-card">
        <div class="profile-header">
            <p>Profile</p>
        </div>

        <div class="account-info">
            <img src="\assets\Profile-w-b.png" alt="profile picture" class="profile-picture">
            <h6>@Model.Username</h6>
            <h4>@Model.FirstName @Model.LastName</h4>
            <h6>@(DateTime.Now.Year - Model.DateOfBirth.Year) years old</h6>
        </div>

        <div class="profile-details">
            <div>
                <img src="\assets\location_on.svg" alt="location">
                <p>@(string.IsNullOrEmpty(Model.Location) ? "No information" : Model.Location)</p>
            </div>
            <div>
                <img src="\assets\phone.svg" alt="phone">
                <p>@(string.IsNullOrEmpty(Model.Phone) ? "No information" : Model.Phone)</p>
            </div>
            <div>
                <img src="\assets\mail.svg" alt="mail">
                <p>@Model.Email</p>
            </div>
        </div>

        <div class="profile-rating">
            <img src="\assets\icon _star.svg" alt="star icon">
            <p>1.55</p>
        </div>

        <div class="joined-review">
            <div class="profile-joined">
                <p>4</p>
                <p>Joined</p>
                <a href="#">View all activity</a>
            </div>

            <div class="profile-reviews">
                <p>5</p>
                <p>Reviews</p>
                <a href="#">View all review</a>
            </div>
        </div>
    </div>

    <div class="profile-right-container">
        <div class="bio-card">
            <div class="profile-header">
                <p>Bio</p>
            </div>

            <div class="bio-details">
                <p class="bio-header">About me</p>
                <p class="bio-info">@(string.IsNullOrEmpty(Model.AboutMe) ? "No information" : Model.AboutMe)</p>
                <p class="bio-header">My Interests</p>
                <p class="bio-info">@(string.IsNullOrEmpty(Model.MyInterests) ? "No information" : Model.MyInterests)</p>
                <p class="bio-header">My Hobby</p>
                <p class="bio-info">@(string.IsNullOrEmpty(Model.MyHobby) ? "No information" : Model.MyHobby)</p>
            </div>
        </div>

        <div class="personal-card">
            <div class="profile-header">
                <p>Personal Information</p>
            </div>

            <div class="personal-details">
                <div class="left-info">
                    <p class="bio-header">First Name</p>
                    <p class="personal-info">@Model.FirstName</p>
                    <p class="bio-header">Birth</p>
                    <p class="personal-info">@Model.DateOfBirth</p>
                </div>
                <div class="right-info">
                    <p class="bio-header">Last Name</p>
                    <p class="personal-info">@Model.LastName</p>
                    <p class="bio-header">Gender</p>
                    <p class="personal-info">Male</p>
                </div>
            </div>
        </div>

        
    </div>
    <div class="edit-profile-button">
        @* <a href="/User/Edit"> *@
            <button onClick="location.href='@Url.Action("Edit", "Profile")'"> 
                <img src="\assets\edit.svg" alt="edit icon">
                <p>Edit</p>
            </button>
        @* </a> *@
    </div>
</div>