@model List<Winter_Project.ViewModels.FriendViewModel>

@{
    ViewData["Title"] = "Find Friend";
    var username = (string)ViewData["username"];
}

<search-friend-bar></search-friend-bar>
<div class="friend-container">
    <header class="friend-header">
        Find Friends
    </header>
    @if (!(bool)ViewData["search"]){
        <div class="friend-text">Friend Suggestions</div>
    }
    @if (Model == null || !Model.Any()) 
    {
        <div class="friend-not-found">No user found !</div>
    }
    else
    { 
    <div class="friend-li-container" id="friend-li-container">
        @foreach (var user in Model)
        {
            if (username == user.Username){
                <friend-li-you name="@user.FirstName @user.LastName" profile-pic="@user.ProfilePicture" username="@user.Username"></friend-li-you>
            }
            else if (user.IsFriend) {
                <friend-li-delete name="@user.FirstName @user.LastName" profile-pic="@user.ProfilePicture" username="@user.Username" friend-id="@user.UserId" since="@user.Time"></friend-li-delete>
            }
            else if (!user.IsFriend && !user.IsPending) {
                <friend-li-add name="@user.FirstName @user.LastName" profile-pic="@user.ProfilePicture" username="@user.Username" friend-id="@user.UserId"></friend-li-add>
            }
            else if (!user.IsFriend && user.IsPending) {
                <friend-li-cancel name="@user.FirstName @user.LastName" profile-pic="@user.ProfilePicture" username="@user.Username" friend-id="@user.UserId"></friend-li-cancel>
            }
            else if (!user.IsPending) {
                <friend-li-approve name="@user.FirstName @user.LastName" profile-pic="@user.ProfilePicture" username="@user.Username" friend-id="@user.UserId"></friend-li-approve>
            }
        }
    </div>}
</div>