@{
    ViewData["Title"] = "Activity Detail";
    var username = ViewBag.Username;
}

<div class="act-detail-container">
<section class="act-detail-main edge shadow">
    <header class="act-card-profile-info">
        <div><img src="../../assets/profile-g.png"></div>
        <div>
            <span>@Model.host.FirstName @Model.host.LastName</span>
            <svg-male aria-label="male"></svg-male>
        </div>
        <div>
            <span>@DateTime.Parse(@Model.Create_time).ToString("dd MMM yyyy HH:mm")</span>
            <span aria-label="review" class="act-card-review">
                <svg-star-sharp></svg-star-sharp>
                @Model.host.Rating
            </span>
        </div>
    </header>
    <div class="act-detail-title">
        <svg-bookmark></svg-bookmark>
        <h1><b>@Model.Title</b></h1>
        <p>@Model.Detail</p>
    </div>
</section>
<section class="act-detail-requirement edge shadow w-bb-bb">
    <div class="flex">
        <span class="act-detail-req-header letter-spacing">
            <svg-checkbox></svg-checkbox><b>requirements :</b>
        </span>
        <ul class="flex">
            @if (@Model.Requirement.Gender != "none"){
                <li>
                    <req-tag data-type="gender" data-value=@Model.Requirement.Gender></req-tag>
                </li>
            }
            @if (@Model.Requirement.Age != 0){
                <li>
                    <req-tag data-type="age" data-value=@Model.Requirement.Age></req-tag>
                </li>
            }
        </ul>
    </div>
    <p>
        @Model.Requirement.Other
    </p>
</section>
<section class="act-detail-info edge shadow">
    <ul>
        <li>
            <svg-calendar></svg-calendar>
            @DateTime.Parse(@Model.Create_time).ToString("ddd, dd MMM yyyy")
        </li>
        <li>
            <svg-clock></svg-clock>
            @DateTime.Parse(@Model.Create_time).ToString("HH:mm") (@Model.Duration Hour)
        </li>
        <li class="act-detail-location">
            <svg-location></svg-location>
            @Model.Location
        </li>
    </ul>
</section>
@if (username == @Model.host.Username)
{
<section class="act-detail-member edge shadow">
    <header>
        <h2 class="letter-spacing">Members</h2>
        <span class="member-count">(@Model.Member_count/@Model.Max_member)</span>
    </header>
    <ul>
    @foreach (var participant in Model.Participants)
    {
        @if (participant.Role == "host")
        {
            <host-list-item name="@participant.User.FirstName @participant.User.LastName"></host-list-item>
        }
        @if (participant.Role == "member")
        {
            <member-host-view name="@participant.User.FirstName @participant.User.LastName"></member-host-view>
        }
        @if (participant.Role == "pending")
        {
            <pending-member-host-view name="@participant.User.FirstName @participant.User.LastName"></pending-member-host-view>
        }
    }
</section>
}
else 
{
<section class="act-detail-member edge shadow">
    <header>
        <h2 class="letter-spacing">Members</h2>
        <span class="member-count">(@Model.Member_count/@Model.Max_member)</span>
    </header>
    <ul>
    @foreach (var participant in Model.Participants)
    {
        @if (participant.Role == "host")
        {
            <host-list-item name="@participant.User.FirstName @participant.User.LastName"></host-list-item>
        }
        @if (participant.Role == "member")
        {
            <member-list-item name="@participant.User.FirstName @participant.User.LastName"></member-list-item>
        }
    }
    @if (@Model.Pending_count != 0)
    {
        <pending-list-item number="@Model.Pending_count"></pending-list-item>
    }
    </ul>
    @{
        bool userIsMember = false;
        foreach (var participant in Model.Participants)
        {
            if (participant.Username == username)
            {
                userIsMember = true;
                break;
            }
        }
    }
    @if (userIsMember)
    {
        <act-detail-leave-btn data-activity-id="@Model.Activity_id"></act-detail-leave-btn>
    }
    else if (Model.Member_count < @Model.Max_member)
    {
        <act-detail-join-btn data-activity-id="@Model.Activity_id"></act-detail-join-btn>
    }
</section>
}
</div>
@if (username == @Model.host.Username)
{
    <div class="delete-container">
        <delete-btn></delete-btn>
    </div>
}