@{
    ViewData["Title"] = "Activity Detail";
}

<div class="act-detail-container">
<section class="act-detail-main edge shadow">
    <header class="act-card-profile-info">
        <div><img src="../../assets/profile-g.png"></div>
        <div>
            <span>@Model.host.FirstName @Model.host.LastName</span>
            <svg-male aria-label="@Model.host.Gender"></svg-male>
        </div>
        <div>
            <span>@DateTime.Parse(@Model.Create_time).ToString("dd MMM yyyy HH:mm")</span>
            <span aria-label="review" class="act-card-review">
                <svg-star-sharp></svg-star-sharp>
                @Model.host.Review
            </span>
        </div>
    </header>
    <ul>
        <li class="flex">

        </li>
    </ul>
    <div class="act-detail-title">
        <svg-bookmark></svg-bookmark>
        <h1><b>@Model.Title</b></h1>
        <p>@Model.Detail</p>
    </div>
</section>
<section class="act-detail-member edge shadow">
    <header>
        <h2 class="letter-spacing">Members</h2>
        <span class="member-count">(@Model.Participants_count/@Model.Max_member)</span>
    </header>
    <ul>
        <host-list-item></host-list-item>
    </ul>
    <act-detail-join-btn></act-detail-join-btn>
</section>
<section class="act-detail-requirement edge shadow w-bb-bb">
    <div class="flex">
        <span class="act-detail-req-header letter-spacing">
            <svg-checkbox></svg-checkbox><b>requirements :</b>
        </span>

    </div>
    <p>
        @Model.Requirement.Other
    </p>
</section>
<section class="act-detail-info edge shadow">
    <ul>
        <li>
            <svg-calendar></svg-calendar>
            @DateTime.Parse(@Model.Activity_time).ToString("ddd, dd MMM yyyy")
        </li>
        <li>
            <svg-clock></svg-clock>
            @DateTime.Parse(@Model.Activity_time).ToString("HH:mm") (@Model.Duration Hour)
        </li>
        <li class="act-detail-location">
            <svg-location></svg-location>
            @Model.Location
        </li>
    </ul>
</section>
</div>
<div class="delete-container">
    <delete-btn></delete-btn>
</div>