@{
    ViewData["Title"] = "Activity Detail";
    var activity = ViewData["Activity"] as Winter_Project.Models.ActivityModel;
}

@if (activity != null)
{
    <div class="act-detail-container">
    <section class="act-detail-main edge shadow">
        <header class="act-card-profile-info">
            <div><img src="../../assets/profile-g.png"></div>
            <div>
                <span>@activity.Owner</span>
                <svg-male aria-label="male"></svg-male>
            </div>
            <div>
                <span>@DateTime.Parse(activity.Create_time).ToString("dd MMM yyyy HH:mm")</span>
                <span aria-label="review" class="act-card-review">
                    <svg-star-sharp></svg-star-sharp>
                    1.55
                </span>
            </div>
        </header>
        <ul>
            <li class="flex">
                @foreach (var tag in activity.Tags)
                {
                    <tag-display data-tag_name="@tag"></tag-display>
                }
            </li>
        </ul>
        <div class="act-detail-title">
            <svg-bookmark></svg-bookmark>
            <h1><b>@activity.Title</b></h1>
            <p>@activity.Detail</p>
        </div>
    </section>
    <section class="act-detail-member edge shadow">
        <header>
            <h2 class="letter-spacing">Members</h2>
            <span class="member-count">(@activity.Participants.Count()/@activity.Max_member)</span>
        </header>
        <ul>
            <host-list-item></host-list-item>
        </ul>
        <act-detail-join-btn data-activity-id="@activity.Activity_id"></act-detail-join-btn>
    </section>
    <section class="act-detail-requirement edge shadow">
        <div class="flex">
            <span class="act-detail-req-header letter-spacing">
                <svg-checkbox></svg-checkbox><b>requirements :</b>
            </span>
            <ul class="flex">
                <li>
                    <req-tag></req-tag>
                </li>
                <li>
                    <req-tag></req-tag>
                </li>
                <li>
                    <req-tag></req-tag>
                </li>
            </ul>
        </div>
        <p>
            @activity.Requirement.Other
        </p>
        <span class="approval-req">
            <svg-pending></svg-pending>joining requires host approval.
        </span>
    </section>
    <section class="act-detail-info edge shadow">
        <ul>
            <li>
                <svg-calendar></svg-calendar>
                @DateTime.Parse(activity.Create_time).ToString("ddd, dd MMM yyyy")
            </li>
            <li>
                <svg-clock></svg-clock>
                @DateTime.Parse(activity.Create_time).ToString("HH:mm") (@activity.Duration Hour)
            </li>
            <li class="act-detail-location">
                <svg-location></svg-location>
                @activity.Location
            </li>
        </ul>
    </section>
    </div>
    <div class="delete-container">
        <delete-btn></delete-btn>
    </div>
}