﻿@{
    ViewData["Title"] = "Activity Detail";
    var username = ViewBag.Username;
}

<div class="act-detail-container">
<section class="act-detail-main edge shadow">
    <div class="act-detail-head">
        <header class="act-card-profile-info">
            <div><img src="@Model.host.Profile_pic" class="profile-img"></div>
            <div>
                <span>@Model.host.FirstName @Model.host.LastName</span>
                <svg-male aria-label="male"></svg-male>
            </div>
            <div>
                <span>@Model.Create_time.ToLocalTime().ToString("ddd, dd MMM yyyy HH:mm")</span>
                <span aria-label="review" class="act-card-review">
                    <svg-star-sharp></svg-star-sharp>
                    @Model.host.Rating
                </span>
            </div>
            <span class="member-count">
                <svg-member></svg-member>
                @Model.Member_count/@Model.Max_member
            </span>
        </header>
        <div class="act-detail-head-info">
            @if (@Model.Status == "open") {
                <span class="act-detail-status w-gr">
                    <svg-check></svg-check>open
                </span>
            }else if (@Model.Status == "close"){
                <span class="act-detail-status w-r">
                    <svg-x></svg-x>close
                </span>
            }else if (@Model.Status == "done"){
                <span class="act-detail-status w-gr">
                    <svg-clock></svg-clock>done
                </span>
            }else if (@Model.Status == "full"){
                <span class="act-detail-status w-y">
                    <svg-member></svg-member>full
                </span>
            }
            <span class="act-detail-close-date">
                Closes: @Model.Deadline_time.ToLocalTime().ToString("ddd, dd MMM yyyy HH:mm")
            </span>
        </div>
    </div>
    
    <ul>
        <li class="flex">
            @foreach (var tag in @Model.Tags)
            {
                <tag-display data-tag_name="@tag"></tag-display>
            }
        </li>
    </ul>
    <div class="act-detail-title">
        <svg-bookmark></svg-bookmark>
        <h1><b>@Model.Title</b></h1>
        <p>@Model.Detail</p>
    </div>
</section>
<section class="act-detail-requirement edge shadow">
    <div class="flex">
        <span class="act-detail-req-header letter-spacing">
            <svg-checkbox></svg-checkbox><b>requirements :</b>
        </span>
        <ul class="flex">
            @if (@Model.Requirement.Gender != "none"){
                <li>
                    <req-tag data-type="gender" data-value=@Model.Requirement.Gender></req-tag>
                </li>
            }
            @if (@Model.Requirement.Age != 0){
                <li>
                    <req-tag data-type="age" data-value=@Model.Requirement.Age></req-tag>
                </li>
            }
        </ul>
    </div>
    <p>
        @Model.Requirement.Other
    </p>
    @if (@Model.Approval){
        <span class="approval-req">
            <svg-pending></svg-pending>joining requires host approval.
        </span>
    }
</section>
<section class="act-detail-info edge shadow">
    <ul>
        <li>
            <svg-calendar></svg-calendar>
            @Model.Activity_time.ToLocalTime().ToString("ddd, dd MMM yyyy")
        </li>
        <li>
            <svg-clock></svg-clock>
            @Model.Activity_time.ToLocalTime().ToString("HH:mm") (@Model.Duration Hour)
        </li>
        <li class="act-detail-location">
            <svg-location></svg-location>
            @Model.Location
        </li>
    </ul>
</section>
<section class="act-detail-member edge shadow">
    <header>
        <h2 class="letter-spacing">
            <svg-member></svg-member>
            Members
        </h2>
        <span>@Model.Member_count/@Model.Max_member</span>
    </header>
    @if (Model.Status == "open" || Model.Status == "full") 
    {
        @if (username == @Model.host.Username)
        {
            <ul>
            @foreach (var participant in Model.Participants)
            {
                @if (participant.Role == "host")
                {
                
                        <host-list-item name="@participant.User.FirstName @participant.User.LastName" profile-pic="@participant.User.Profile_pic" username="@participant.Username"></host-list-item>
                    
                }
                else if (participant.Role == "member")
                {
                    
                        <member-host-view name="@participant.User.FirstName @participant.User.LastName" profile-pic="@participant.User.Profile_pic" username="@participant.Username" data-activity-id="@Model.Activity_id"></member-host-view>
                    
                }
                else if (participant.Role == "pending")
                {
                    
                        <pending-member-host-view name="@participant.User.FirstName @participant.User.LastName" profile-pic="@participant.User.Profile_pic" username="@participant.Username" data-activity-id="@Model.Activity_id"></pending-member-host-view>
                    
                }
            }
            </ul>
            <div class="act-detail-btn-container">
                <a class="btn mb-w round hover-lb-w-glow act-detail-chat large" href="/chat?activity_id=@Model.Activity_id">
                    <svg-chat></svg-chat> chat
                </a>
            </div>
        }
        else 
        {
            <ul>
            @foreach (var participant in Model.Participants)
            {
                @if (participant.Role == "host")
                {
                    
                    <host-list-item name="@participant.User.FirstName @participant.User.LastName" profile-pic="@participant.User.Profile_pic" username="@participant.Username"></host-list-item>
                    
                }
                else if (participant.Role == "member")
                {
                    
                    <member-list-item name="@participant.User.FirstName @participant.User.LastName" profile-pic="@participant.User.Profile_pic" username="@participant.Username"></member-list-item>
                    
                }
            }
            @if (@Model.Pending_count != 0)
            {
                <pending-list-item number="@Model.Pending_count"></pending-list-item>
            }
            @{
                bool userIsMember = false;
                bool userIsPending = false;
                foreach (var participant in Model.Participants)
                {
                    if (participant.Username == username && participant.Role == "member")
                    {
                        userIsMember = true;
                        break;
                    }
                    else if (participant.Username == username && participant.Role == "pending")
                    {
                        userIsPending = true;
                        break;
                    }
                }
            }
            </ul>
            <div class="act-detail-btn-container">
            @if (userIsMember)
            {
                <act-detail-leave-btn data-activity-id="@Model.Activity_id"></act-detail-leave-btn>
                <a class="btn mb-w round hover-lb-w-glow act-detail-chat large" href="/chat?activity_id=@Model.Activity_id">
                    <svg-chat></svg-chat> chat
                </a>
            }
            else if (userIsPending)
            {
                <act-detail-leave-btn data-activity-id="@Model.Activity_id"></act-detail-leave-btn>
            }
            else if (Model.Member_count < @Model.Max_member)
            {
                <act-detail-join-btn data-activity-id="@Model.Activity_id"></act-detail-join-btn>
            }
            </div>
        }
    }
    else if (Model.Status == "close")
    {
        <ul>
        @foreach (var participant in Model.Participants)
        {
            @if (participant.Role == "host")
            {
                <host-list-item name="@participant.User.FirstName @participant.User.LastName" profile-pic="@participant.User.Profile_pic" username="@participant.Username"></host-list-item>
            }
            else if (participant.Role == "member")
            {
                <member-list-item name="@participant.User.FirstName @participant.User.LastName" profile-pic="@participant.User.Profile_pic" username="@participant.Username"></member-list-item>
            }
        }
        @{
            bool userIsMember = false;
            foreach (var participant in Model.Participants)
            {
                if (participant.Username == username)
                {
                    userIsMember = true;
                    break;
                }
            }
        }
        </ul>
        <div class="act-detail-btn-container">
        @if (userIsMember)
        {
            <a class="btn mb-w round hover-lb-w-glow act-detail-chat large" href="/chat?activity_id=@Model.Activity_id">
                <svg-chat></svg-chat> chat
            </a>
        }
        </div>
    }
    else {
        <ul>
        @foreach (var participant in Model.Participants)
        {
            @if (participant.Role == "host")
                {
                    <host-list-item name="@participant.User.FirstName @participant.User.LastName" username="@participant.Username"></host-list-item>
                }
            else if (participant.Role == "member")
            {
                <member-list-item name="@participant.User.FirstName @participant.User.LastName" username="@participant.Username"></member-list-item>
            }
        }
        @{
                bool userIsMember = false;
                foreach (var participant in Model.Participants)
                {
                    if (participant.Username == username)
                    {
                        userIsMember = true;
                        break;
                    }
                }
            }
        </ul>
        <div class="act-detail-btn-container">
        <view-review-btn></view-review-btn>
        @if (userIsMember)
        {
            <a class="btn mb-w round hover-lb-w-glow act-detail-chat large" href="/chat?activity_id=@Model.Activity_id">
                <svg-chat></svg-chat> chat
            </a>
        }
        </div>
    }
    
</section>
</div>
@if (username == @Model.host.Username)
{
    @if (Model.Status == "open" || Model.Status == "full")
    {
        <div class="delete-container">
            <close-btn data-activity-id="@Model.Activity_id"></close-btn>
            <delete-btn data-activity-id="@Model.Activity_id"></delete-btn>
        </div>
    }
    else if (Model.Status == "close" || Model.Status == "done")
    {
        <div class="delete-container">
            <delete-btn data-activity-id="@Model.Activity_id"></delete-btn>
        </div>
    }
}