@model List<Winter_Project.Models.RankingViewModel>

@{
    ViewData["Title"] = "Ranking";
}

<h1 class="text-center">🏆 User Rankings</h1>

<div class="podium">
    @if (Model.Count >= 3)
    {
        <div class="podium-place second">
            <img class="profile" src="/assets/edit_blue.svg">
            <p>🥈</p>
            <div class="rating-container">
                <h2>@Model[1].ReviewedUser</h2>
                <div class="rating">
                    <p class="rating-count">⭐ @Model[1].AverageRating.ToString("0.00")</p>
                </div>
                <span class="count-review">(@Model[1].ReviewCount)</span>
            </div>
        </div>
        <div class="podium-place first">
            <img class="profile" src="/assets/edit_blue.svg">
            <p>🥇</p>
            <div class="rating-container">
                <h2>@Model[0].ReviewedUser</h2>
                <div class="rating">
                    <p class="rating-count">⭐ @Model[0].AverageRating.ToString("0.00")</p>
                </div>
                <span class="count-review">(@Model[0].ReviewCount)</span>
            </div>
        </div>
        <div class="podium-place third">
            <img class="profile" src="/assets/edit_blue.svg">
            <p>🥉</p>
            <h2>@Model[2].ReviewedUser</h2>
            <div class="rating-container">
                <div class="rating">
                    <p class="rating-count">⭐ @Model[2].AverageRating.ToString("0.00")</p>
                </div>
                <span class="count-review">(@Model[2].ReviewCount)</span>
            </div>
        </div>
    }
</div>

<table class="ranking-table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>User</th>
            <th>Average Rating</th>
            <th>Review Count</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 3; i < Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model[i].ReviewedUser</td>
                <td>⭐ @Model[i].AverageRating.ToString("0.0")</td>
                <td>@Model[i].ReviewCount</td>
            </tr>
        }
    </tbody>
</table>